<form asp-action="AddUser" asp-controller="Accesscontrol" method="post" enctype="multipart/form-data">
    <label>Имя:</label>
    <input type="text" name="name" /><br />
    <label>Фамилия:</label><br />
    <input type="text" name="surname" /><br />
    <label>Отчество:</label><br />
    <input type="text" name="patronymic" /><br />
    <label>Фото:</label><br />
    <input type="file" name="photo" /><br />
    <label>Идентификаторы:</label><br />
    <input type="file" name="identifiers"><br />
    <input type="submit" value="Загрузить" />
</form>